body {
	font-family:Arial, Helvetica, sans-serif;
	background-color: #3f95e7;
}


h1 {
	font-size: 20pt;
	text-align:center;
}

h3 {
	font-size:8pt;
	text-align:center;
	color:white;
}

img {
	display:block;
	padding-top: 20px;
	padding-bottom:20px;
	height:35px;
	margin-left: auto;
	margin-right:auto;
}

form {
	margin-left:auto;
	margin-right:auto;
	width:400px;
	padding:40px;
	background-color: white;
}

.test-form fieldset {
	padding:0;
	border:none;
	margin-left:auto;
	margin-right:auto;
}

.test-form label {
	display:block;
	/*float:left;*/S
	margin-bottom:5px;
	padding-left: 47px;
}

.test-form input {
 	display:block;
 	width: 300px;
 	max-width:100%;
	margin-bottom:15;
 	margin-left:auto;
 	margin-right:auto;
	
	
}

.test-form button {
	width:320px;
	max-width:100%;
	border:2px;
	padding:15px; 
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:55px;
	background-color: #64c570;
	color:white;
	
}

.test-form button:hover {
	background-color:#006f43;
}

 

a:link {
	color:white;
	text-decoration:underline;

}


